.emptyImg{
    height: 275px;
    background: url('./imgs/empty.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.orderrow>div:nth-child(2){
    height: 275px;
    display: flex;
    align-items: center;
}
.orderheader{
    display: flex;
    flex-wrap: nowrap;
    font-weight: bold;
}

.ordercontrol>p{
text-align: center;
cursor: pointer;
}
