.topBar{
    display:flex;
    align-items:center
    /* margin-top:19px; */
}
.connectNav{
    font-size:17px;
    margin-left:25px;
    cursor:pointer;
}
.connectNav a:hover{
    color:white;
    text-decoration:none
}
.connectNav a{
    color:white;
    text-decoration:none;
    margin-top:15px;
}