.App {
  /* text-align: center; */
}
/* .row{
  margin-left: 0;
  margin-right: 0;
} */
.container-fluid{
  padding: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.funitem li{
  /* overflow-y: hidden; */
  text-align: center;
}
.funitem>li{
width: 100px;
}
.funitem::-webkit-scrollbar { width: 0 !important }
.nav > li > a {

  padding: none;
}